{
  "presets": [
    [
      "env", 
      {
        "targets": { "node": "8" }
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "./app"
        ],
        "alias": {
          "helper": "./app/helpers",
          "model": "./app/models"
        }
      }
    ]
  ]
}